@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--col-text-primary);
}

a {
  cursor: url(../images/products/cursor.png), pointer;
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-bottom: 60px;
  background-color: var(--col-bg-dark);
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 320px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.no-scroll {
  overflow: hidden;
}
