
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.address {
  font-style: normal;
}

*:focus {
  outline-style: none;
}
