$col-border-header: #ececec;

$col-text-primary: #757575;
$col-text-secondary: #ffffff;
$col-title-primary: #212121;

$col-accent: #2196f3;

$col-btn-primary: #ffffff;
$col-btn-bg-secondary: #188ce8;
$col-btn-bg-portfolio-secondary: #f5f4fa;

$col-bg-light: #ffffff;
$col-bg-dark: #2f303a;

$col-logo-ligh: #ffffff;
$col-logo-dark: #000000;

$col-bg-features-card: #f5f4fa;
$col-border-portfolio-card: #eeeeee;
$col-icon-light: #ffffff;
$col-icon-bg-light: #afb1b8;
$col-icon-bg-dark: #2f303a;
$col-bg-business-subtitle: rgba(47, 48, 58, 0.8);
$col-overlay-portfolio-card: rgba(33, 150, 243, 0.9);

$col-bg-soc-icon-footer: rgba(255, 255, 255, 0.1);
$col-address-footer-opacity: rgba(255, 255, 255, 0.3);

$col-backdrop: rgba(0, 0, 0, 0.2);
$col-border-form: rgba(33, 33, 33, 0.3);

$gra-hero: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

$border-follow-input: 1px solid rgba(255, 255, 255, 0.3);
$border-follow-input-hover: 1px solid #ffffff;

$time-animation: 250ms;
$function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
