.backdrop-location {
  z-index: 6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--col-backdrop);
  transition: opacity var(--animation-time) var(--cubic-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-location {
  width: 20px;
  height: 20px;
  fill: var(--col-text-primary);
  transition: fill var(--animation-time) var(--cubic-function);
  @include tablet {
    width: 24px;
    height: 24px;
  }
}
.close-buy-now-button:hover .close-buy-now-icon,
.close-buy-now-button:focus .close-buy-now-icon {
  fill: var(--col-btn-default);
}

.modal-location {
  z-index: 5;
  position: relative;
  padding-top: 28px;
  padding-bottom: 29px;
  padding-left: 28px;
  padding-right: 28px;
  min-width: 280px;
  max-height: 991px;
  height: 100%;
  background-color: var(--col-bg-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform var(--animation-time) var(--cubic-function);
  @media screen and (max-width: 479px) {
    overflow-y: scroll;
  }
  @include tablet {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 54px;
    padding-right: 54px;
    min-width: 568px;
    max-height: 644px;
  }
}

.modal-title-location {
  padding: 28px 54px 20px 54px;
  font-family: 'Seymour One';
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--col-text-primary);
    @include tablet {
    font-size: 20px;
    line-height: calc(28 / 20);
    margin-bottom: 40px;
  }
}

.open-map {
  display: flex;
  margin: auto;
  justify-content: center;
  min-width: 142px;
  height: 42px;
  padding: 12px 34px;
  background: var(--col-default);
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--col-text-primary);
  transition: background-color var(--animation-time) var(--cubic-function);
  transition: color var(--animation-time) var(--cubic-function);
  transition: box-shadow var(--animation-time) var(--cubic-function);
  @include tablet {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.iframe-location {
  border-radius: 10px;
  margin-left: 28px;
  margin-right: 28px;
}
