<div class="backdrop__location is-hidden" data-modal-location>
  <div class="modal__location">
    <button class="close__location" type="button" data-modal-location-close>
      <svg class="close-icon__location">
        <use href="./images/vectors.svg#icon-icon-menu-close"></use>
      </svg>
    </button>
    <p class="modal__location__title">Our Location</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325516.3770455823!2d30.532690549999998!3d50.402035500000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNGX0LIsINCj0LrRgNCw0ZfQvdCwLCAwMjAwMA!5e0!3m2!1suk!2sdk!4v1672044303046!5m2!1suk!2sdk"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="iframe__location"
    ></iframe>
      <button type="button" class="btn open__map">Open Map</button>
  </div>
</div>

<script src="/src/modal-our-location.js"></script>
