<div class="backdrop-read-more is-hidden" data-modal-read-more>
  <div class="modal-read-more">
    <button type="button" class="close-read-more" data-modal-read-more-close>
      <svg class="close-icon-read-more" width="24" height="24">
        <use href="./images/vectors.svg#icon-icon-menu-close"></use>
      </svg>
    </button>
    <p class="modal-title-read-more">How it's made?</p>
    <iframe
      width="100%"
      src="https://www.youtube.com/embed/y_YL3R32RzU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="iframe-read-more"
    ></iframe>
    <p class="modal-text-read-more">
      In the small Italian town of Ruvo di Puglia, siblings Giuliana and
      Vincenzo Paparella carry on a 180-year-old family tradition making gelato
      from only three ingredients: milk, sugar, and eggs. It all started in 1840
      when Uncle Luigi brought the art of gelato making from the royal courts of
      Naples to his hometown, Ruvo, and gave it a home. Fast-forward four
      generations, and the original 1840 recipe, the King's Cream, has been
      joined by seven other flavors: pistachio, chocolate, quince, nougat,
      gianduia, and hazelnut. Behind each and every one of them, the two
      siblings will transform every ingredient but sugar, from crushing cocoa
      beans to sourcing vanilla pods from Mexico.
    </p>
  </div>
</div>

<script src="/src/modal-read-more.js"></script>
