<link rel="stylesheet" href="/src/sass/modals/_modal-our-location.scss" />


<button class="location" type="button" data-modal-location-open>Кнопка</button>
<div class="backdrop is-hidden" data-modal-location>
  <div class="modal-location">
    <button type="button" class="close-location" data-modal-location-close>
      <svg class="close-icon-location" width="18" height="18">
        <use href="/src/images/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <p class="modal-title-location">Our Location</p>
    <a href=""> <button type="button" class="open-map">Open Map</button> </a>
  </div>
</div>

<script src="/src/modal-our-location.js"></script>
