<section class="section about">
  <div class="container about__container">
    <p class="about__text-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__wrap">
        <div class="about__image-wraper">
          <picture class="about__image">
            <source
              srcset="
                ./images/about/desktop-about-1x.png 1x,
                ./images/about/desktop-about-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/about/tablet-about-1x.png 1x,
                ./images/about/tablet-about-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/about/mob-about-1x.png 1x,
                ./images/about/mob-about-2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/about/desktop-about-1x.png" alt="cow" width="490" />
          </picture>
        </div>
        <div class="about__text-wraper">
          <p class="about__text1 text">
            Ice is a place where you will become not only a little happier, but also
            healthier. Health is the main value for us, and we follow it when
            creating our handmade desserts.
          </p>
          <p class="about__text2 text">
            We use traditional recipes and 100% natural ingredients. Our products
            are so natural that they can be given to children from the age of three
            years. Sweets lovers can expect 55 types of ice cream, 15 types of
            coffee and 23 milkshakes.
          </p>
          <p class="about__text3 text">
            This is enough to choose ice cream and coffee for any mood!
          </p>
          <button class="about__btn btn" type="button">Read more </button>
        </div>
    </div>
  </div>
</section>
