<section class="advantages">
    <div class="container">
        <h2>advantage</h2>
        <ul class="advantages__list">
            <li class="advantage__item cow">
                <span class="advantages__number">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item ice-cream">
                <span class="advantages__number">16kg</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage__item weight">
                <span class="advantages__number">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>