<section class="contacts">
  <div class="container">
    <h2 class="section-title hide">Contacts</h2>

    <ul class="grid-contacts">
      <li class="grid-contacts__item">
        <article class="representation">
          <p class="representation__category">CAFE</p>
          <p class="representation__city">Chicago</p>

          <address class="representation-address">
            <a
              class="representation-address__link"
              href="#"
              target="_blank"
              rel="noreferrer noopener"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>

          <ul class="opening-times">
            <li class="opening-times__days">
              Monday - Friday<span class="opening-times__hours"
                >06:00 AM - 10:00 PM</span
              >
            </li>
            <li class="opening-times__days">
              Saturday - Sunday<span class="opening-times__hours"
                >08:00 AM - 16:00 PM</span
              >
            </li>
          </ul>

          <ul class="representation-contacts">
            <li class="representation-contacts__item">
              <a class="representation-contacts__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="representation-contacts__item">
              <a
                class="representation-contacts__link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </article>
      </li>
    </ul>

    <button class="contacts-btn btn" type="button">Our Locations ></button>
    <button class="contacts-btn btn" type="button">Franchise ></button>
  </div>
</section>
