<section class="contacts section" id="сontact">
  <div class="container">
    <h2 class="section-title hide">Contacts</h2>

    <ul class="grid-contacts">
      <li class="grid-contacts__item">
        <article class="representation">
          <p class="representation__category">CAFE</p>
          <p class="representation__city">Chicago</p>

          <address class="representation-address">
            <a
              class="representation-address__link link"
              href="https://goo.gl/maps/FTiWWFbD1c2uzXNPA"
              target="_blank"
              rel="noreferrer noopener"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>

          <div class="representation__wrap-middle">
            <ul class="opening-times">
              <li class="opening-times__days">
                Monday - Friday<br /><span class="opening-times__hours"
                  >06:00 AM - 10:00 PM</span
                >
              </li>
              <li class="opening-times__days">
                Saturday - Sunday<br /><span class="opening-times__hours"
                  >08:00 AM - 16:00 PM</span
                >
              </li>
            </ul>
          </div>

          <address class="representation-contacts">
            <li class="representation-contacts__item">
              <a
                class="representation-contacts__link link"
                href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="representation-contacts__item">
              <a
                class="representation-contacts__link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </address>
        </article>
      </li>

      <li class="grid-contacts__item">
        <article class="representation">
          <p class="representation__category">FOOD TRUCK</p>
          <p class="representation__city">Los Angeles</p>

          <address class="representation-address">
            <a
              class="representation-address__link link"
              href="https://goo.gl/maps/FTiWWFbD1c2uzXNPA"
              target="_blank"
              rel="noreferrer noopener"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>

          <div class="representation__wrap-middle">
            <ul class="opening-times">
              <li class="opening-times__days">
                Monday - Friday<br /><span class="opening-times__hours"
                  >06:00 AM - 10:00 PM</span
                >
              </li>
              <li class="opening-times__days">
                Saturday - Sunday<br /><span class="opening-times__hours"
                  >08:00 AM - 16:00 PM</span
                >
              </li>
            </ul>
          </div>

          <address class="representation-contacts">
            <li class="representation-contacts__item">
              <a
                class="representation-contacts__link link"
                href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="representation-contacts__item">
              <a
                class="representation-contacts__link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </address>
        </article>
      </li>

      <li class="grid-contacts__item">
        <article class="representation">
          <p class="representation__category">CAFE</p>
          <p class="representation__city">New York</p>

          <address class="representation-address">
            <a
              class="representation-address__link link"
              href="https://goo.gl/maps/YTXnMkgStWEmLMfX6"
              target="_blank"
              rel="noreferrer noopener"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>

          <div class="representation__wrap-middle">
            <ul class="opening-times">
              <li class="opening-times__days">
                Monday - Friday<br /><span class="opening-times__hours"
                  >06:00 AM - 10:00 PM</span
                >
              </li>
              <li class="opening-times__days">
                Saturday - Sunday<br /><span class="opening-times__hours"
                  >08:00 AM - 16:00 PM</span
                >
              </li>
            </ul>
          </div>

          <address class="representation-contacts">
            <li class="representation-contacts__item">
              <a
                class="representation-contacts__link link"
                href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="representation-contacts__item">
              <a
                class="representation-contacts__link link"
                href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </address>
        </article>
      </li>
    </ul>

    <ul class="contacts-btm__list">
      <li class="contacts-btm__item">
        <button class="contacts-btn btn" type="button" data-modal-location-open>
          Our Locations<svg class="contacts-btn__icon" width="12" height="12">
            <use href="./images/vectors.svg#icon-arrow-btn"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-btm__item">
        <button
          class="contacts-btn btn btn--transparent"
          type="button"
          data-franchise-modal-open
        >
          Franchise<svg class="contacts-btn__icon" width="12" height="12">
            <use href="./images/vectors.svg#icon-arrow-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
