<section class="section customer-reviews-section">
    <div class="customer-reviews">
        <ul class="customer-reviews-list">
            <li class="customer-reviews-item">
                <picture>
                    <source
                        srcset="./images/customer-reviews/desktop1x-customer-reviews.jpg 1x, ./images/customer-reviews/desktop2x-customer-reviews.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="./images/customer-reviews/tab1x-customer-reviews.jpg 1x, ./images/customer-reviews/tab2x-customer-reviews.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/customer-reviews/mob1x-customer-reviews.jpg 1x, ./images/customer-reviews/mob2x-customer-reviews.jpg 2x"
                        media="(min-width: 320px)" />

                    <img class="customer-reviews-banner" src="./images/customer-reviews/desktop1x-customer-reviews.jpg"
                        alt="Морозиво, яке ми виробляємо" />
                </picture>

                <picture>
                    <source
                        srcset="./images/customer-reviews/avatar-desktop1x.jpg 1x ./images/customer-reviews/avatar-desktop2x.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="./images/customer-reviews/avatar-tab1x.jpg 1x ./images/customer-reviews/avatar-tab2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/customer-reviews/avatar-mob1x.jpg 1x ./images/customer-reviews/avatar-mob2x.jpg 2x"
                        media="(min-width: 320px)" />

                    <img class="customer-reviews-client" src="./images/customer-reviews/avatar-desktop1x.jpg"
                        alt="Напівоголена дівчина Емілі" />
                </picture>

                <p class="customer-reviews-feedback">I love visiting your cafe. You prepare the most delicious ice
                    cream
                    in
                    Los
                    Angeles! In addition, you have beautiful
                    serving, cozy atmosphere and polite staff.
                </p>
                <p class="customer-reviews-clientname">Emily, Los Angeles</p>
            </li>
            <li>
                <picture>
                    <source
                        srcset="./images/customer-reviews/desktop1x-customer-reviews-2.jpg 1x, ./images/customer-reviews/desktop2x-customer-reviews-2.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="./images/customer-reviews/desktop1x-customer-reviews-2.jpg 1x, ./images/customer-reviews/desktop2x-customer-reviews-2.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/customer-reviews/desktop1x-customer-reviews-2.jpg 1x, ./images/customer-reviews/desktop2x-customer-reviews-2.jpg 2x"
                        media="(min-width: 320px)" />

                    <img class="customer-reviews-banner"
                        src="./images/customer-reviews/desktop1x-customer-reviews-2.jpg"
                        alt="Морозиво у вафельних ріжках" />
                </picture>

                <picture>
                    <source
                        srcset="./images/customer-reviews/avatar-desktop1x-2.jpg 1x ./images/customer-reviews/avatar-desktop2x-2.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="./images/customer-reviews/avatar-desktop1x-2.jpg 1x ./images/customer-reviews/avatar-desktop2x-2.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/customer-reviews/avatar-desktop1x-2.jpg 1x ./images/customer-reviews/avatar-desktop2x-2.jpg 2x"
                        media="(min-width: 320px)" />

                    <img class="customer-reviews-client" src="./images/customer-reviews/avatar-desktop1x-2.jpg"
                        alt="Чорний хлопець Брайан" />
                </picture>

                <p class="customer-reviews-feedback">Every day we come to you with friends after classes in college.
                    We
                    love
                    your ice cream and casual atmosphere!

                </p>
                <p class="customer-reviews-clientname">Bryan, New-York</p>
            </li>

            <li>
                <picture>
                    <source
                        srcset="./images/customer-reviews/desktop1x-customer-reviews-3.jpg 1x, ./images/customer-reviews/desktop2x-customer-reviews-3.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="./images/customer-reviews/desktop1x-customer-reviews-3.jpg 1x, ./images/customer-reviews/desktop2x-customer-reviews-3.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/customer-reviews/desktop1x-customer-reviews-3.jpg 1x, ./images/customer-reviews/desktop2x-customer-reviews-3.jpg 2x"
                        media="(min-width: 320px)" />

                    <img class="customer-reviews-banner"
                        src="./images/customer-reviews/desktop1x-customer-reviews-3.jpg"
                        alt="Морозиво у вафельних ріжках" />
                </picture>

                <picture>
                    <source
                        srcset="./images/customer-reviews/avatar-desktop1x-3.jpg 1x ./images/customer-reviews/avatar-desktop2x-3.jpg 2x"
                        media="(min-width: 1200px)" />
                    <source
                        srcset="./images/customer-reviews/avatar-desktop1x-3.jpg 1x ./images/customer-reviews/avatar-desktop2x-3.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./images/customer-reviews/avatar-desktop1x-3.jpg 1x ./images/customer-reviews/avatar-desktop2x-3.jpg 2x"
                        media="(min-width: 320px)" />

                    <img class="customer-reviews-client" src="./images/customer-reviews/avatar-desktop1x-3.jpg"
                        alt="Чорний хлопець Брайан" />
                </picture>

                <p class="customer-reviews-feedback">Ice cream is my passion! I love your chocolate hazelnut ice
                    cream!
                    And
                    I really like the excellent service - always
                    served politely and quickly!
                </p>
                <p class="customer-reviews-clientname">Diana, Chicago</p>
            </li>
        </ul>




        <ul class="customer-reviews-swipes">
            <li class="customer-reviews-swipepoint active">
            </li>
            <li class="customer-reviews-swipepoint">
            </li>
            <li class="customer-reviews-swipepoint"></li>
        </ul>
    </div>
</section>