<section class="hero">
    <div class="container">
        <div class="wrap-hero">
            <div class="wrapper-left-side">
                <h1 class="hero-tittle">
                    ice cream made with
                    <span class="hero-tittle-span"> passion </span>
                </h1>

                <div class="wrap-hero-btn">
                    <button type="button" class="hero-btn first">
            <a href="#">Products </a>
          </button>

                    <button type="button" class="hero-btn second">
            <a href="#">How it’s made?</a>
          </button>
                </div>

                <!-- картинка +lorem -->

                <div class="wrap-left">
                    <img class="hero-img" src="./images/hero-icekreams-tab.png" alt="many icecream" />
                    <p class="hero-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    </p>
                </div>

                <a href="# ">
                    <img class="hero-arrow" src="./images/hero-arrow-tab.png " alt=" " />
                </a>
            </div>

            <div class="wrapper-rigt-side">
                <img class="hero-img-icecream" src="./images/hero-icecream-mob.png " alt="icecream " />

                <img class="hero-img-bg left" src="./images/hero-points-left-tab.png " alt="background " />
                <img class="hero-img-bg right" src="./images/hero-points-right-tab.png " alt="background " />

                <!-- <ul class="hero-list">
                    <li>16 cafes</li>
                    <li>23 food trucks</li>

                </ul> -->
            </div>
        </div>
    </div>
</section>