<section class="hero" id="heroine">
  <div class="container">
    <div class="wrap_hero">
      <div class="hero_content">
        <h1 class="hero_tittle">ice cream made with passion</h1>
        <div class="wrap_btn_hero">
          <a class="btn link" href="#products">Products </a>
          <a class="hero_btn_second link_second link" href="#about"
            >How it’s made?
          </a>
        </div>
        <div class="hero__box">
          <div class="hero_img_plate">
            <picture>
              <source
                srcset="
                  ./images/hero/hero-plate-desk.png   1x,
                  ./images/hero/hero-plate-desk2x.png 2x
                "
                media="(min-width:1200px)"
              />
              <source
                srcset="
                  ./images/hero/hero-plate-tab.png   1x,
                  ./images/hero/hero-plate-tab2x.png 2x
                "
                media="(min-width:768px)"
              />
              <img
                class=""
                src="./images/hero/hero-icekreams-tab.png"
                alt="plate of icecream"
                width="225"
              />
            </picture>
          </div>

          <div class="hero__text">
            <p class="hero_p">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="#about">
              <img
                class="hero_arrow"
                src="./images/hero/Arrow-desk.png"
                alt="arrow"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- Боковые цифры -->
      <div class="hero_numbers">
        <div class="hero_numbers__item">
          <span class="hero_number">16</span>
          <p class="hero_cafes">cafes</p>
        </div>
        <div class="hero_numbers__item">
          <span class="hero_number">23 </span>
          <p class="hero_cafes">food trucks</p>
        </div>
      </div>

      <div class="hero__images">
        <div class="hero__image-icecream">
          <picture>
            <source
              srcset="
                ./images/hero/hero-icecream-desk.png    1x,
                ./images/hero/hero-icecream-desk-2x.png 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/hero/hero-icecream-tab.png   1x,
                ./images/hero/hero-icecream-tab2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/hero/hero-icecream-mob.png   1x,
                ./images/hero/hero-icecream-mob2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              srcset="
                ./images/hero/hero-icecream-desk.png    1x,
                ./images/hero/hero-icecream-desk-2x.png 2x
              "
              src="./images/hero/hero-icecream-mob.png"
              width="436"
              alt="icecream"
            />
          </picture>
        </div>

        <div class="hero__points">
          <div class="hero__point-left hero__point-left--mobile">
            <img src="./images/hero/hero-points-left-tab--mobile.svg" alt="" />
          </div>
          <div class="hero__point-left">
            <img src="./images/hero/hero-points-left-tab.svg" alt="" />
          </div>
          <div class="hero__point-middle">
            <img src="./images/hero/hero-points-middle-tab.svg" alt="" />
          </div>
          <div class="hero__point-right">
            <img src="./images/hero/hero-points-right-tab.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
