<section class="hero">
    <div class="container">
        <h1 class="hero-tittle">
            ice cream made with
            <span> passion </span>
        </h1>

        <button type="button" class="hero-btn first">
    <a href="#">Products </a>
</button>

        <button type="button" class="hero-btn second">
    <a href="#">How it’s made?</a>
</button>

        <img src="./img/hero-icecream-mob.png" alt="icecream">
        <img src="./img/hero-points-mob.png" alt="background">
</section>

</div>