<section class="section">
  <p class="uppertext">100% natural</p>
  <h2>products</h2>
  <ul>
    <li>
        <h3>ice cream</h3>
        <p>Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
        <button></button>
    </li>

    <li>
        <h3>ice coffee</h3>
        <p>Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
        <button></button>
    </li>

    <li>
        <h3>milkshakes</h3>
        <p>Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
        <button></button>
    </li>
  </ul>
</section>
