<section class="products">
  <p class="uppertext">100% natural</p>
  <h2 class="products-title">products</h2>
  <ul class="products-list">
    <li class="products-item">
        <h3 class="item-title">ice cream</h3>
        <p class="item-description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
        <button class="item-btn btn"></button>
    </li>

    <li class="products-item">
        <h3 class="item-title">ice coffee</h3>
        <p class="item-description">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
        <button class="item-btn btn"></button>
    </li>

    <li class="products-item">
        <h3 class="item-title">milkshakes</h3>
        <p class="item-description">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
        <button class="item-btn btn"></button>
    </li>
  </ul>
</section>
