.btn {
  border-style: none;
  font-family: inherit;

  padding: 12px 34px;
  border-radius: 10px;

  cursor: pointer;

  color: var(--col-btn-default);
  background-color: var(--col-btn-bg-default);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  &:hover {
    color: var(--col-btn-hover);
    background-color: var(--col-btn-bg-hover);
  }

  &:focus {
    color: var(--col-btn-focus);
    background-color: var(--col-btn-bg-focus);
  }
}
