.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header__logo {
  color: $col-logo-dark;
}
.logo-accent {
  color: $col-accent;
}
.footer .logo {
  display: block;
  margin-bottom: 30px;
}
.footer .logo {
  color: $col-logo-ligh;
}