.section-title {
  text-align: center;
  margin-bottom: 32px;

  color: var(--col-title-secondary);

  font-family: 'Seymour One', sans-serif;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
}
