.advantages {
  background: var(--col-bg-dark);
  padding-bottom: 64px;

  @include tablet {
    padding-bottom: 204px;
  }

  @include desktop {
    padding-bottom: 178px;
  }
}

.advantages__list {
  text-align: center;

  @include tablet {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  @include desktop {
    gap: 32px;
  }
}

.advantage__item {
  display: inline-block;
  width: 230px;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 152px;
  }

  @include desktop {
    width: 368px;
  }
}

.cow::before {
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/cow.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @include retina {
    background-image: url(../images/advantages/cow2x.png);
  }

  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.ice-cream::before {
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/weight.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @include retina {
    background-image: url(../images/advantages/weight2x.png);
  }

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.weight::before {
  display: block;
  content: '';
  width: 50px;
  height: 50px;
  background-image: url(../images/advantages/ice-crema.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @include retina {
    background-image: url(../images/advantages/ice-crema2x.png);
  }

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.advantages__number {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(44 / 36);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--col-text-secondary);

  @include tablet {
    margin-bottom: 12px;
    font-size: 48px;
    line-height: calc(59 / 48 );
  }

  @include desktop {
    font-size: 58px;
    line-height: calc(71 / 58);
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  color: var(--col-text-secondary);

  @include tablet {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
