.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 53px;
  z-index: 10;
  background-color: var(--col-bg-dark);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  @include tablet {
    height: 66px;
  }
  @include desktop {
    height: 80px;
  }
  &__button {
    display: none;
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    &--mobile {
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      @include tablet {
        display: none;
      }
    }
  }
}

.header__logo-img {
  width: 100%;
}

.header__button-img {
  fill: currentColor;
  margin-left: 4px;
}

.header--container {
  display: flex;
  align-items: center;
  /*padding-top: 12px;*/
  padding-top: 8px;
  @include tablet {
    padding-top: 10px;
    /*padding-top: 20px;*/
  }
  @include desktop {
    /*padding-top: 8px;*/
    justify-content: space-between;
    /*align-items: flex-end;*/
  }
}

.header-nav {
  display: none;
  @include desktop {
    display: flex;
  }
  &__list {
    display: flex;
    height: 42px;
    align-items: center;
  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0;
    padding: 10px 5px 10px 5px;
    border-radius: 30px;
    color: var(--col-title-secondary);
    transition: color var(--animation-time) var(--cubic-function);
    &:focus,
    &:hover {
      color: var(--col-menu-default);
    }
  }
  &__item:not(:last-child) {
    margin-right: 16px;
  }
}

.header__mobile-close,
.header__mobile-open {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--col-bg-primary);
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: color var(--animation-time) var(--cubic-function);
  &:focus {
    color: var(--col-menu-default);
  }
}

.header__mobile-icon {
  fill: currentColor;
}

.header__mobile-open {
  @include tablet {
    margin-right: 36px;
  }
  @include desktop {
    display: none;
  }
}

.header__mobile-icon {
  fill: currentColor;
}

.header__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--col-bg-dark);
  padding: 12px 20px 64px 20px;
  overflow: auto;
  z-index: 1200;
  transform: translateX(100%);
  transition: transform var(--animation-time) var(--cubic-function);
  @include tablet {
    padding: 20px 32px 0 32px;
  }
  @include desktop {
    display: none;
  }
  &.is-open {
    transform: translateX(0);
  }
}

.header__mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 51px;
  @include tablet {
    margin-bottom: 76px;
  }
}

.header__nav-mobile {
  margin-bottom: 110px;
  &-list {
    text-align: center;
  }
  &-link {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;
    text-align: center;
    color: var(--col-bg-light);
    transition: color var(--animation-time) var(--cubic-function);
    @include tablet {
      font-size: 48px;
      line-height: 1.23;
    }
  }
  &-link:focus {
    color: var(--col-text-primary);
  }
  &-item:not(:last-child) {
    margin-bottom: 32px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
}
