.header {
  background-color: #85A279;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 12px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.header-nav {
  display: none;

  @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 90px;
  }
}

.header__button {

    display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }
}

.header__button-img {
  margin-left: 4px;
}

.header-nav__list {
  display: flex;
  height: 42px;
  align-items: center;
}

.header-nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0;
  color: var(--col-btn-bg-default);
  &:hover {
    color: var(--col-btn-bg-hover);
  }
  &:focus {
    color: var(--col-menu-focus);
  }
}

.header-nav__item:not(:last-child) {
  margin-right: 28px;
}

.header__mobile-close,
.header__mobile-open {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var( --col-bg-primary);
  background-color: transparent;
  border: 0;
}

.header__mobile-open {

  @media screen and (min-width: 768px) {
    margin-right: 36px;
  }
  
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__mobile-icon {
  fill: currentColor;
}

.header__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--col-bg-dark);
  padding: 12px 14px 64px 32px;
  overflow: auto;
  z-index: 1;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  @media screen and (min-width: 768px) {
   padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.is-hidden {
  transform: translateX(100%);
}
 
.header__mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 51px;

  @media screen and (min-width:768px) {
    margin-bottom: 76px;
  }
}

.header__nav-mobile {
  margin-bottom: 110px;
}

.header__nav-mobile-list {
  text-align: center;
}

.header__nav-mobile-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  text-align: center;
  color: var( --col-bg-light);

  @media screen and (min-width:768px) {
    font-size: 48px;
    line-height: 1.23;
  }
}

.header__button--mobile {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  
  @media screen and (min-width: 768px) {
      display: none;
  } 
}

 .header__nav-mobile-item:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (min-width:768px) {
      margin-bottom: 40px;
    }
 }

.mobile-link-current {
  color: var(--col-text-primary);
}
