.hero {
    background-color: var(--col-bg-dark);
}

.hero-tittle {
    font-family: 'Seymour One', sherif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 96.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--col-bg-light);
    padding-top: 50px;
}

.hero-tittle-span {
    font-size: 34px;
    line-height: 96.5%;
}

.hero-btn {
    margin-top: 32px;
}

.first {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    padding: 11px 26px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--col-default);
    background-color: var(--col-bg-dark);
    margin-right: 12px;
    cursor: pointer;
}

.first a {
    text-decoration: none;
    color: var(--col-btn-default);
}

.second {
    border: none;
    background-color: var(--col-bg-dark);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.24;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    cursor: pointer;
    ;
}

.second a {
    color: var(--col-menu-default)
}

.wrap-hero-btn {
    display: flex;
}

.hero-img-icecream {
    position: relative;
    width: 177px;
    margin-left: 60px;
    margin-top: 19px;
    z-index: 3;
}

.hero-img-bg {
    position: absolute;
    z-index: 2;
    right: 1%;
    top: 75%;
}