.products { 
    width: 100%;
    background-image: url(../images/products/products-bg-mob@1x.jpg);;
}
.products__uppertext {
}
.products__title {
}
.products__list {
}
.products-item {
}
.products-item__title {
}
.products-item__description {
}
.products-item__btn {
    background-color: transparent;
    border: none;
}

.product-icon { 
    fill: var(--col-icon-dark);
}