$maxWidth: 1200; // Variable for mixin adaptiv-font
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

.products {
  // max-width: 1600px;
  background-image: url(../images/products/products-bg-mob@1x.jpg);
  background-size: 885px;
  background-repeat: repeat;
  background-position: top -150px left -350px;
  @include retina {
    background-image: url(../images/products/products-bg-mob@2x.jpg);
  }

  @include tablet {
    background-image: url(../images/products/products-bg-tab@1x.jpg);
    background-size: 963px;
    background-position: top -115px left -91px;
    @include retina {
      background-image: url(../images/products/products-bg-tab@2x.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/products/products-bg-desk@1x.jpg);
    background-size: 1396px;
    background-position: top -295px left -91px;
    @include retina {
      background-image: url(../images/products/products-bg-desk@2x.jpg);
    }
  }

  &__wrapper {
    min-width: 320px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  &__uppertext {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.27;
    text-align: center;
    text-transform: uppercase;
    color: var(--col-text-primary);

    @include tablet {
      font-size: 22px;
    }

    @include desktop {
      font-size: 30px;
    }
  }

  &__title {
    font-family: 'Seymour One', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--col-text-primary);
    margin-bottom: 150px;

    @include tablet {
      font-size: 34px;
      margin-bottom: 200px;
    }

    @include desktop {
      font-size: 36px;
      margin-bottom: 300px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
    }

    @include desktop {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 29px;
    }
  }

  &__item {
    display: block;
    min-width: 280px;
    width: calc(100vw / 1 - 40px);

    @include tablet {
      min-width: 224px;
      width: calc(100vw / 3 - 40px);
      height: 428px;
      // padding-top: 108px;
    }

    @include desktop {
      height: 536px;
      width: 370px;
    }
  }

  &__description {
    color: var(--col-text-primary);
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: 16px;
    }
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 16px;
    background-color: transparent;
    border: none;

    cursor: url(../images/products/cursor.png), pointer;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }

  &__icon {
    fill: var(--col-title-primary);
  }
}

.products-item__wrapper {
  max-width: 400px;
  width: 100%;
  height: 420px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--col-bg-cream);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: relative;

  @include tablet {
    max-width: 370px;
    height: 428px;
    padding-top: 108px;
    padding-left: 26px;
    padding-right: 26px;
  }

  @include desktop {
    height: 536px;
    padding-top: 165px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 44px;
  }
}

.products-item__wrapper--ice-cream {
  background-color: var(--col-bg-cream);
  margin-bottom: 168px;

  @include tablet {
    margin-bottom: 0;
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;

    width: 200px;
    height: 200px;
    top: -25%;
    left: calc(50% - 100px);

    border-radius: 50%;
    background-image: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

    @include tablet {
      top: -28%;
    }

    @include desktop {
      top: -31%;
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
    }
  }

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: -28%;
    left: calc(50% - 100px);
    border-radius: 50%;
    background-image: url(../images/products/ice-cream-mob@1x.jpg);
    background-size: contain;

    @include retina {
      background-image: url(../images/products/ice-cream-mob@2x.jpg);
    }

    @include tablet {
      width: 200px;
      height: 200px;
      top: -31%;
      background-image: url(../images/products/ice-cream-tab@1x.jpg);
      @include retina {
        background-image: url(../images/products/ice-cream-tab@2x.jpg);
      }
    }

    @include desktop {
      top: -34%;
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
      background-image: url(../images/products/ice-cream-desk@1x.jpg);
      @include retina {
        background-image: url(../images/products/ice-cream-desk@2x.jpg);
      }
    }
  }
}

.products-item__wrapper--ice-coffee {
  background-color: var(--col-bg-cofee);
  margin-bottom: 168px;

  @include tablet {
    margin-bottom: 0;
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: -25%;
    left: calc(50% - 100px);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    background-image: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

    @include tablet {
      top: -28%;
    }

    @include desktop {
      top: -31%;
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
    }
  }

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: -28%;
    left: calc(50% - 100px);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    background-image: url(../images/products/ice-coffee-mob@1x.jpg);
    background-size: contain;

    @include retina {
      background-image: url(../images/products/ice-coffee-mob@2x.jpg);
    }

    @include tablet {
      top: -31%;
      background-image: url(../images/products/ice-coffee-tab@1x.jpg);
      @include retina {
        background-image: url(../images/products/ice-coffee-tab@2x.jpg);
      }
    }

    @include desktop {
      top: -34%;
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
      background-image: url(../images/products/ice-coffee-desk@1x.jpg);
      @include retina {
        background-image: url(../images/products/ice-coffee-desk@2x.jpg);
      }
    }
  }
}

.products-item__wrapper--milkshake {
  background-color: var(--col-bg-milkshakes);

  @include tablet {
    margin-bottom: 0;
  }

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: -25%;
    left: calc(50% - 100px);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

    @include tablet {
      top: -28%;
    }

    @include desktop {
      top: -31%;
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
    }
  }

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: -28%;
    left: calc(50% - 100px);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    background-image: url(../images/products/milkshake-mob@1x.jpg);
    background-size: contain;
    @include retina {
      background-image: url(../images/products/milkshake-mob@2x.jpg);
    }

    @include tablet {
      top: -31%;
      background-image: url(../images/products/milkshake-tab@1x.jpg);
      @include retina {
        background-image: url(../images/products/milkshake-tab@2x.jpg);
      }
    }

    @include desktop {
      top: -34%;
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
      background-image: url(../images/products/milkshake-desk@1x.jpg);
      @include retina {
        background-image: url(../images/products/milkshake-desk@2x.jpg);
      }
    }
  }
}

.products-item__title {
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--col-text-primary);
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include tablet {
    font-size: 22px;
  }

  @include desktop {
    font-size: 30px;
  }
}
