.products {

}
.uppertext {
}
.products-title {
}
.products-list {
    width: 100%;
    max-height: 420px;
    background-color: AEC6A5;
border-radius: 24px;
}
.products-item {
}
.item-title {
}
.item-description {
}
.item-btn {
}
.btn {
}